<div class="coursePanel">
  <h3>{{courseName}}</h3>
  Token: <input class="credentials" type="text" [(ngModel)]="credentials.accessToken" placeholder="Access Token" />
  Project Id: <input class="credentials" type="text" [(ngModel)]="credentials.projectId" placeholder="Project Id" />
  <button (click)="downloadCourse()">Download Course</button>
  <!--<div class="fileListing">{{fileListing}}</div>-->
  <ul>
    <li *ngFor="let file of files" (click)="downloadFile(file)">
      file: {{file.name}}
      <ul>
        <li>path: {{file.path}}</li>
        <li>type: {{file.type}}</li>
      </ul>
    </li>
  </ul>
  <button (click)="saveToRepo">Save Course</button>
</div>
